#nav-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-bar {
    background-color: unset;
    background-color: blue;
}

#edges {
    display: inline-flex;
    padding: 50px;
    width: 10%;
    background-color: red;
}

body > .jumbotron {  
    max-height: 10%;
    width: 100%;
    margin-bottom: 0em;
    padding: 2em 2em;
}

.EventHeading {
    text-transform: uppercase; 
}

h3 {
    margin-left: auto;
    margin-right: auto;
}

.website_comp {
    margin: auto;
}

.meeting_slides{
    margin: auto;
}

.about_us {
    margin: auto;
}

#description {
    margin: auto;
    /* display: inline-flex; */
    width: 65%;
}

footer {
    text-align: center;
    padding-bottom: 1em;
}

.slides-archive-links > li > a {
    color: #000;
}